.about{
    &__price{
        padding-top: 26px;
        display: flex;
        justify-content: space-between;
        transition: 0.5s all;
        &-text{
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */
            color: $black;
            a{
                color: #84FF98;
                text-decoration: none;
            }
            a:hover{
                text-decoration:underline;
            }
        }
    }
    &__block{
        display: grid;
        grid-template-columns: 1fr 1fr;
        &-place{
            display: flex;
            gap: 25px;
            align-items: center;
        }
        &-txt{
            max-width: 315px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: $black;
        }
        &-sertification{
            display: flex;
            column-gap:25px;
        }
    }
}

@media(max-width:900px){
    .about{
        &__block{
            margin-top: 20px;
            grid-template-columns: 1fr ;
            gap: 20px;

        }
    }
}

@media(max-width:500px){
    .about{
        &__price{
            &-text{
                text-align: center;
            }
            &-button{
                display: flex;
                justify-content: center;
            }
            flex-direction: column;
            gap: 20px;
        }
    }
}


@media(max-width:410px){
    .about{
        &__block{
          &-place{
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          &-sertification{
            align-items: center;
            flex-direction: column;
            max-height: auto ;
            justify-content: center;
            img{
                width: 147px;
                height: 93px;
            }
          }
        }
    }
}