.button{
    width: 200px;
    background:$main-color;
    padding-top: 12px;
    padding-bottom: 12px;
    color: $black;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    &-green{
        background: $second-color;
    }
}