.customers{
    &-page{
        &-table{
            margin-bottom: 40px;
        }
        &-heading{
            display: grid;
            grid-template-columns: 325px 1.5fr 2fr;
            background: $main-color;
            font-weight: 700;
            font-size: 18px;
            line-height: 20px;
            text-align: center;
            div{
                padding:20px;
                border: 1px solid #A7A4A4;
                margin-right:-1px; margin-bottom:-1px;

            }
        }
        &-row{
            display: grid;
            grid-template-columns: 325px 1.5fr 2fr;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color:$black;
            div{
                padding:20px;
                border: 1px solid #A7A4A4;
                margin-right:-1px; margin-bottom:-1px;
            }
        }
    }
}

@media(max-width:900px){
    .customers{
        &-page{
            &-heading{
                grid-template-columns: 1fr;
            }
            &-row{

                grid-template-columns: 1fr;
            }
        }
    }
}