.servises{
    margin-top: 40px;
    &__heading{
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: $black;
        text-align: center;
    }
    &__blocks{
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    &__block{
        border: 1px solid #FFEF41;
        min-height: 200px;
        display: flex;
        column-gap: 30px;
        align-items: center;
        padding: 15px;
        transition: 0.6s all;
        &-number{
            font-style: normal;
            font-weight: 400;
            font-size: 100px;
            line-height: 122px;
            color: $main-color;
        }
        &-name{
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: $black;

        }
        &:hover{
            background: $main-color;
            display: block;
            padding-top: 45px;
            .servises__block-number{
                display: inline;
                color:$black;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
            }
            .servises__block-name{
                display: inline;
            }
        }
    }
}

@media (max-width:900px){
    .servises{
        &__blocks{
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media(max-width:650px){
    .servises{
        &__blocks{
            grid-template-columns: 1fr;
        }
    }
}

@media(max-width:650px){
    .servises{
        &__block{
            padding: 5px;
        }
    }
}
@media(max-width:320px){
    .servises{
        &__block{
            flex-direction: column;
        }
    }
}